.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    justify-content: center
}

.fade {
    transition: opacity .15s linear;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;

}



.modal-dialog {
    width:auto;

    pointer-events: none;

}

.modal-content {
    align-self: center;
    display: flex;
    margin: auto;
    margin-top: 20px;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 500px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.custom-control-input:disabled~.custom-control-label, .custom-control-input[disabled]~.custom-control-label {
    color: #6c757d;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}



.save-spinner-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.save-spinner-container div{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

#save_status {
    color: var(--cogs-success);
    width: 100%;
    text-align: center;
    padding: 10px;
}
